@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <div>
        <input asp-for="Firstname" type="text" placeholder="Type your firstname" />
        <input asp-for="Lastname" type="text" placeholder="Type your lastname" />
        <button type="submit" class="btn btn-primary">Hello</button>
    </div>
</form>

<label>Hello @Model.Firstname @Model.Lastname</label>